@font-face {
    font-family: "iconfont";
    /* Project id 3159642 */
    src: url('./fonts/iconfont.woff2?t=1657437658481') format('woff2'),
      url('./fonts/iconfont.woff?t=1657437658481') format('woff'),
      url('./fonts/iconfont.ttf?t=1657437658481') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .font-size-16 {
    font-size: 16px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weibo:before {
    content: "\e66c";
  }
  
  .icon-weixin-copy:before {
    content: "\e661";
  }
  
  .icon-xiangxia1:before {
    content: "\e604";
  }
  
  .icon-xiangshang21:before {
    content: "\e76e";
  }
  
  .icon-xiangzuo_o:before {
    content: "\eb9a";
  }
  
  .icon-xiangyou:before {
    content: "\e74a";
  }
  
  .icon-gouwuchekong:before {
    content: "\e600";
  }
  
  .icon-yingyongzhongxin:before {
    content: "\e601";
  }
  
  .icon-xinlangweibo:before {
    content: "\e602";
  }
  
  .icon-weixin:before {
    content: "\e603";
  }
  
  .icon-xiangyou1:before {
    content: "\e775";
  }
  
  .icon-shouye:before {
    content: "\e64f";
  }
  
  .icon-gerenzhongxin:before {
    content: "\e659";
  }
  
  .icon-xiangzuo:before {
    content: "\eb15";
  }
  
  .icon-Magnifier:before {
    content: "\e62d";
  }
  
  .icon-qq:before {
    content: "\e60d";
  }
  
  .icon-xiangshang2:before {
    content: "\e669";
  }
  
  .icon-xiangxia2:before {
    content: "\e66b";
  }
  
  .icon-xiangxia:before {
    content: "\e65b";
  }
  
  .icon-houtui:before {
    content: "\e65c";
  }
  
  .icon-xiangshang:before {
    content: "\e65d";
  }
  
  .icon-qianjin:before {
    content: "\e65e";
  }
  
  .icon-anquan:before {
    content: "\e65f";
  }
  
  .icon-chufang:before {
    content: "\e660";
  }
  
  .icon-yaopinjiage:before {
    content: "\e66a";
  }